DATABASE_URL=mysql+pymysql://DB_USER:DB_PASSWORD@localhost:3306/DB_NAME
SECRET_KEY=REEMPLAZAR_POR_UN_SECRETO_LARGO_Y_ALEATORIO
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

DEBUG=false
API_VERSION=v1
SWAGGER_USER=REEMPLAZAR_USUARIO_SWAGGER
SWAGGER_PASSWORD=REEMPLAZAR_CLAVE_SWAGGER

RESEND_API_KEY=REEMPLAZAR_CON_API_KEY_DE_RESEND
VERIFICATION_TOKEN_EXPIRE_HOURS=24
EMAIL_FROM=noreply@TU_DOMINIO
BASE_URL=https://TU_SUBDOMINIO

INITIAL_ADMIN_USERNAME=admin
INITIAL_ADMIN_EMAIL=admin@TU_DOMINIO
INITIAL_ADMIN_PASSWORD=REEMPLAZAR_CLAVE_ADMIN
